<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbpallettEntities" connectionString="metadata=res://*/entPallettModel.csdl|res://*/entPallettModel.ssdl|res://*/entPallettModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dataonice.ckdw6kdhmue0.us-east-1.rds.amazonaws.com,1433;Initial Catalog=dbpallett;User ID=dbonice;Password=dbappelsin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>